@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#page {
	margin:0 auto;
}


form {
	padding:15px;
	margin-top:30px;
	background-color:#EFEFEF;
	border:1px solid #d7d7d7;
	border-radius:10px;
}

#productsTable {
	padding:15px;
	margin-top:30px;
	border-radius:10px;
	display:inline-block;
	background-color:#EFEFEF;
	border:1px solid #d7d7d7;
	table {
		border-top:1px solid #d7d7d7;
		border-left:1px solid #d7d7d7;
		tr {
			th,td {
				padding:3px 10px;
				border-right:1px solid #d7d7d7;
				border-bottom:1px solid #d7d7d7;
			}
		}
	}
}